# https://docs.npmjs.com/files/package.json#files
# Certain files are always included, regardless of settings:
# - package.json
# - README
# - CHANGES / CHANGELOG / HISTORY
# - LICENSE / LICENCE
# - NOTICE
# - The file in the "main" field
# README, CHANGES, LICENSE & NOTICE can have any case and extension.
#
# Conversely, some files are always ignored:
# - .git
# - CVS
# - .svn
# - .hg
# - .lock-wscript
# - .wafpickle-N
# - .*.swp
# - .DS_Store
# - ._*
# - npm-debug.log
# - .npmrc
# - node_modules
# - config.gypi
# - *.orig
# -----------------------------------------------------------------------------
# .gitignore is not automatically included, add relevant lines again.

# Archives
/*.tgz

# npm/xpm
node_modules/
xpacks/
package/

# Windows
Thumbs.db

# macOS
.DS_Store

# Eclipse
.settings/
Debug/
Release/
test-*/
build/

# Visual Studio Code
.vscode/
vscode.mac.command

# other
work

# end
